%section.item-store
  .toggle &laquo;

  .search-wrapper
    %input.search{ placeholder: 'Search' }

  .store-wrapper
    = render partial: 'home/item_store/menu'

    .items
      - @items.each do |item|
        = render partial: 'home/item_store/item', locals: { item: item }
