.home.index {
  .champions {
    ul {
      margin: 0 -6px;

      li {
        float: left;
        margin-bottom: 12px;
        padding: 0 6px;
        text-align: center;
        width: 10%;
      }
    }

    .champion {
      background: none;
      border: 0;
      padding: 0;

      .image {
        border-radius: 100%;
        width: 100%;
      }

      .name {
        display: block;
        font-size: em(11px);
      }
    }
  }
}
