.home.index {
  .content {
    display: flex;

    &.store-open .content-wrapper {
      display: flex;
      height: 100vh;
      margin-right: 408px;
    }

    .content-wrapper {
      flex-direction: column;
      margin: 0;
      overflow-y: scroll;
      transition: margin .5s ease-out;
    }

    .item-set-builder {
      padding: 30px;
    }
  }

  section.champions {
    margin: 30px auto;

    ul {
      @include clearfix;
      height: 33.3vh;
      margin: 0 -6px;
      overflow-y: scroll;

      li {
        float: left;
        margin-bottom: 12px;
        padding: 0 12px;
        text-align: center;
        width: 10%;
      }
    }

    .champion {
      background: none;
      border: 0;
      padding: 0;

      .image {
        border-radius: 100%;
        width: 100%;
      }

      .name {
        display: block;
        font-size: em(11px);
      }
    }
  }

  header.champion.masthead {
    @include clearfix;

    .image {
      float: left;
    }

    .details {
      float: left;
      margin: 0 15px;
    }
  }

  .item-set {
    > h1 {
      margin: 30px 0;
      padding: 0 15px;

      .set-title {
        font-size: em(27px);
        font-weight: 700;
        padding: 6px 12px;
        width: 100%;
      }
    }
  }

  article.builds {
    .build {
      @include clearfix;

      .item {
        border: 1px solid $lt-gray;
        float: left;
        height: 50px;
        margin: 3px;
        width: 50px;
      }
    }
  }

  section.json {
    .path {
      margin: 15px 0;

      .champion,
      .file {
        font-weight: 700;
      }
    }

    .json-output {
      border: 1px solid $lt-gray;
      font-family: monospace;
      min-height: 33.3vh;
      margin: 15px 0;
      overflow: scroll;
      padding: 15px;
      white-space: pre;
    }
  }
}
