.home.index {
  .content {
    display: flex;

    &.store-open .content-wrapper {
      margin-right: 452px;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
      overflow-y: scroll;
      transition: margin .5s ease-out;
    }

    .site-header {
      color: #fff;

      h1 {
        margin-bottom: 0;
      }

      .patch {
        font-size: em(11px);
        margin-bottom: 15px;
      }
    }

    footer {
      color: $md-gray;
      font-size: em(11px);

      .links {
        margin-top: 15px;
        text-align: center;

        .copyright,
        .link {
          display: inline-block;
          padding: 0 6px;
        }
      }
    }
  }

  .champions {
    margin: 30px auto;
    width: 100%;

    header {
      align-items: baseline;
      display: flex;
      flex-direction: row;
    }

    .search-wrapper {
      flex-grow: 1;
      padding-left: 15px;
    }

    ul {
      @include clearfix;
      height: 0;
      margin: 30px -6px 0;
      overflow-y: scroll;
      transition: height .25s ease-out;
      width: 100%;

      &.active {
        height: 33.3vh;
      }

      li {
        float: left;
        height: 0;
        opacity: 0;
        text-align: center;
        transition: opacity .15s, width 0s .15s, height 0s .15s, visibility 0s .15s;
        visibility: hidden;
        width: 0;

        &.active {
          display: block;
          height: 76px;
          opacity: 1;
          visibility: visible;
          width: 10%;
        }
      }
    }

    .champion {
      background: none;
      border: 0;
      padding: 0 12px 12px;

      .image {
        border-radius: 100%;
        width: 100%;
      }

      .name {
        display: block;
        font-size: em(11px);
      }
    }
  }

  // Masthead
  .champion.masthead {
    @include clearfix;
    background: linear-gradient(to left, rgba(#0c2830, 0), rgba(#0c2830, .75));
    border-bottom: 1px solid lighten(#0c2830, 5%);
    border-top: 1px solid lighten(#0c2830, 5%);
    box-shadow: 0 0 3px rgba(#000, .35);
    padding: 15px;

    .image-border {
      background: linear-gradient(to bottom, #ffe09d, #825c28);
      border: 1px solid #000;
      float: left;
      padding: 3px;

      .image {
        background-position: center center;
        border: 1px solid #000;
        height: 100px;
        width: 100px;
      }
    }

    .details {
      float: left;
      margin: 0 18px;
      text-shadow: 0 0 2px rgba(#0c2830, .75);

      .name {
        color: mix(#cab5a2, #ffe09d);
        font-size: em(35px);
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .title {
        font-size: em(19px);
      }

      .roles {
        font-family: $spiegel;
      }
    }
  }

  .builds {
    top: 0;
    transition: top .15s;

    &.sticky {
      position: absolute;
      top: 30px;
    }

    .stats .list .gains {
      border-top: 1px solid $lt-gray;
      font-size: em(11px);
      padding: 10px 0;
    }
  }

  .item-set {
    > h1 {
      margin: 30px 0;
      padding: 0 15px;

      .set-title {
        font-size: em(27px);
        font-weight: 700;
      }
    }

    .item .name {
      display: none;
    }
  }

  section.json {
    .path {
      margin: 15px 0;

      .champion,
      .file {
        font-weight: 700;
      }
    }

    .json-output {
      border: 1px solid $lt-gray;
      font-family: monospace;
      min-height: 33.3vh;
      margin: 15px 0;
      overflow: scroll;
      padding: 15px;
      white-space: pre;
    }
  }
}
