.tags
  %ul
    %li
      %button{ 'data-tags': 'All' } All Items
    %li
      %button{ 'data-tags': 'Jungle,Lane' } Starting Items
      %ul
        %li
          %button{ 'data-tags': 'Jungle' } Jungle
        %li
          %button{ 'data-tags': 'Lane' } Lane

    %li
      %button{ 'data-tags': 'Consumable,GoldPer,Vision,Trinket' } Tools
      %ul
        %li
          %button{ 'data-tags': 'Consumable' } Consumable
        %li
          %button{ 'data-tags': 'GoldPer' } Gold Income
        %li
          %button{ 'data-tags': 'Vision,Trinket' } Vision &amp; Trinkets

    %li
      %button{ 'data-tags': 'Armor,Health,HealthRegen,SpellBlock' } Defense
      %ul
        %li
          %button{ 'data-tags': 'Armor' } Armor
        %li
          %button{ 'data-tags': 'Health' } Health
        %li
          %button{ 'data-tags': 'HealthRegen' } Health Regen
        %li
          %button{ 'data-tags': 'SpellBlock' } Magic Resist

    %li
      %button{ 'data-tags': 'AttackSpeed,CriticalStrike,Damage,LifeSteal' } Attack
      %ul
        %li
          %button{ 'data-tags': 'AttackSpeed' } Attack Speed
        %li
          %button{ 'data-tags': 'CriticalStrike' } Critical Strike
        %li
          %button{ 'data-tags': 'Damage' } Damage
        %li
          %button{ 'data-tags': 'LifeSteal' } Life Steal

    %li
      %button{ 'data-tags': 'CooldownReduction,Mana,ManaRegen,SpellDamage' } Magic
      %ul
        %li
          %button{ 'data-tags': 'CooldownReduction' } Cooldown Reduction
        %li
          %button{ 'data-tags': 'Mana' } Mana
        %li
          %button{ 'data-tags': 'ManaRegen' } Mana Regen
        %li
          %button{ 'data-tags': 'SpellDamage' } Ability Power

    %li
      %button{ 'data-tags': 'Boots,NonbootsMovement' } Movement
      %ul
        %li
          %button{ 'data-tags': 'Boots' } Boots
        %li
          %button{ 'data-tags': 'NonbootsMovement' } Other Movement
