%section.item-store
  .toggle &laquo;

  .search-wrapper
    %input.search{ placeholder: 'Search' }

  .store-wrapper
    = render partial: 'store_menu'

    .items
      - @items.each do |item|
        = render partial: 'shared/item', locals: { item: item }
