.filters
  %ul
    %li.group
      %button.clear.filter.selected{ 'data-filters': '' } All Items

    %li.group
      %button.filter{ 'data-filters': 'Jungle,Lane' } Starting Items
      %ul
        %li
          %button.filter{ 'data-filters': 'Jungle' } Jungle
        %li
          %button.filter{ 'data-filters': 'Lane' } Lane

    %li.group
      %button.filter{ 'data-filters': 'Consumable,GoldPer,Vision,Trinket' } Tools
      %ul
        %li
          %button.filter{ 'data-filters': 'Consumable' } Consumable
        %li
          %button.filter{ 'data-filters': 'GoldPer' } Gold Income
        %li
          %button.filter{ 'data-filters': 'Vision,Trinket' } Vision &amp; Trinkets

    %li.group
      %button.filter{ 'data-filters': 'Armor,Health,HealthRegen,SpellBlock' } Defense
      %ul
        %li
          %button.filter{ 'data-filters': 'Armor' } Armor
        %li
          %button.filter{ 'data-filters': 'Health' } Health
        %li
          %button.filter{ 'data-filters': 'HealthRegen' } Health Regen
        %li
          %button.filter{ 'data-filters': 'SpellBlock' } Magic Resist

    %li.group
      %button.filter{ 'data-filters': 'AttackSpeed,CriticalStrike,Damage,LifeSteal' } Attack
      %ul
        %li
          %button.filter{ 'data-filters': 'AttackSpeed' } Attack Speed
        %li
          %button.filter{ 'data-filters': 'CriticalStrike' } Critical Strike
        %li
          %button.filter{ 'data-filters': 'Damage' } Damage
        %li
          %button.filter{ 'data-filters': 'LifeSteal' } Life Steal

    %li.group
      %button.filter{ 'data-filters': 'CooldownReduction,Mana,ManaRegen,SpellDamage' } Magic
      %ul
        %li
          %button.filter{ 'data-filters': 'CooldownReduction' } Cooldown Reduction
        %li
          %button.filter{ 'data-filters': 'Mana' } Mana
        %li
          %button.filter{ 'data-filters': 'ManaRegen' } Mana Regen
        %li
          %button.filter{ 'data-filters': 'SpellDamage' } Ability Power

    %li.group
      %button.filter{ 'data-filters': 'Boots,NonbootsMovement' } Movement
      %ul
        %li
          %button.filter{ 'data-filters': 'Boots' } Boots
        %li
          %button.filter{ 'data-filters': 'NonbootsMovement' } Other Movement
