%section.item-store
  .toggle
    .arrow &laquo;

  = render partial: 'shared/search'

  .store-wrapper
    = render partial: 'store_menu'

    .items
      - @items.each do |item|
        = render partial: 'shared/item', locals: { item: item }
