%section.champions
  %ul
    - @champions.each do |champion|
      %li
        = image_tag "http://ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/#{champion.images.first.full}"
        = champion.name

