%section.champions
  %ul
    - @champions.each do |champion|
      %li
        %button.champion
          = champion_image_tag(champion.images.first.full)
          %span.name= champion.name

:coffee
  $ -> view = new LoLA.Views.Home()
