.item-set .block {
  @include clearfix;
  border: 1px solid $lt-gray;
  margin-bottom: 15px;
  padding: 15px;

  input {
    width: 100%;
  }

  .items {
    @include clearfix;
    background: $xl-gray;
    padding: 10px 5px 5px;
  }

  .popover {
    .description div {
      display: inline-block;
    }
  }
}
