.item-set .block {
  @include clearfix;
  border: 1px solid rgba($dk-gold, .5);
  margin-bottom: 15px;
  padding: 15px;

  .block-title {
    position: relative;

    &::after {
      content: '\f040';
      cursor: pointer;
      font-family: $fontawesome;
      position: absolute;
      right: 10px;
      top: 8px;
    }

    input {
      border-color: lighten($dk-teal, 5%);
      padding-right: 40px;
      transition: border .15s;

      &:hover {
        border-color: lighten($dk-teal, 10%);
      }
    }
  }

  .items {
    @include clearfix;
    background: linear-gradient(to right, rgba($dk-teal, .75), rgba($dk-teal, 0));
    padding: 10px 5px 5px;
  }
}
