  .item-set .block {
  @include clearfix;
  border: 1px solid rgba($dk-gold, .75);
  margin-bottom: 15px;
  padding: 15px;

  .items {
    @include clearfix;
    background: #222;
    padding: 10px 5px 5px;
  }
}
