.build {
  $item-height : 60px;
  $item-width  : 60px;

  @include clearfix;
  border: 1px solid lighten($dk-teal, 5%);
  height: ($item-height * 2) + 12;
  padding: 5px;
  width: ($item-width * 3 ) + 12;

  .item {
    float: left;
    margin: 3px;

    .cost {
      display: none;
    }
  }
}
