.item {
  cursor: pointer;
  float: left;
  margin: 0 5px;

  &.active .image {
    border: 2px solid #fc0;
  }

  .image {
    border-radius: 5px;
    width: 48px;
  }

  .cost {
    font-size: em(11px);
    padding: 3px 0;
    text-align: center;
  }

  .item-tooltip {
    display: none;
  }
}
