.item-store {
  background: rgba($dk-teal, .75);
  border-left: 1px solid lighten($dk-teal, 5%);
  bottom: 0;
  box-shadow: 0 0 10px rgba(#000, .35);
  overflow: hidden;
  padding-left: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(452px, 0);
  transition: transform .5s ease-out;
  user-select: none;
  width: 512px;

  .store-open & {
    transform: translate(0, 0);

    .toggle .arrow {
      transform: rotate(180deg);
    }
  }

  .toggle {
    bottom: 0;
    color: linear-gradient(to bottom, #ffe09d, #825c28);
    cursor: pointer;
    font-size: em(30px);
    left: 0;
    line-height: 30px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .15s;
    width: 60px;

    .arrow {
      transform: rotate(0);
    }
  }

  .search-wrapper {
    height: 10vh;
    padding: 15px 15px 15px 0;
    width: 452px;

    .search {
      user-select: text;
    }
  }

  .store-wrapper {
    display: flex;
    flex-direction: row;
  }

  .filters {
    height: 90vh;
    overflow-y: auto;
    width: 170px;

    .group {
      > .filter {
        font-weight: 700;
      }

      ul {
        margin-left: 15px;
      }
    }

    .filter {
      border: 0;
      background: none;
      padding: 0;
      text-align: left;
      transition: color .15s;
      width: 100%;

      &:hover,
      &.active {
        color: $lt-tan;
      }
    }
  }

  .items {
    @include clearfix;
    height: 90vh;
    overflow-y: auto;
    padding: 10px;
    width: 282px;

    .item {
      @include clearfix;
      background: linear-gradient(to right, rgba($dk-teal, .75), rgba($dk-teal, 0));
      border: 1px solid lighten($dk-teal, 10%);
      float: none;
      margin-bottom: 5px;
      padding: 5px;

      .image,
      .info {
        display: inline-block;
        vertical-align: top;
      }

      .actions {
        display: none;
      }

      .name,
      .cost {
        margin: 0 5px;
        text-align: left;
        vertical-align: top;
      }

      .name {
        @include clearfix;
        font-size: em(13px);
      }
    }
  }
}
