section.item-set .block .item {
  display: inline-block;

  .image {
    border-radius: 5px;
    width: 50px;
  }

  .item-tooltip {
    display: none;
  }
}

section.item-set .block .popover {
  .description div {
    display: inline-block;
  }
}
