<section class="block">
  <h1>
    <input type="text" value="<%= title %>" data-title="<%= title %>" class="block-title" maxlength="50" placeholder="<%= placeholder %>">
  </h1>

  <div class="items"></div>
</section>
