// Colors
$xl-gray : #f0f0f0; //  6%
$lt-gray : #e5e5e5; // 10%
$md-gray : #b3b3b3; // 30%
$dk-gray : #808080; // 50%
$xd-gray : #333;    // 80%

$lt-tan  : mix(#cab5a2, #ffe09d);
$dk-gold : #a8814a;
$dk-teal : #0c2830;

// Typography
$base-px: 15px;
$beaufort: 'Beaufort', serif;
$spiegel: 'Spiegel', sans-serif;
$helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin font {
  font: 400 #{$base-px}/1.5 $beaufort;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function em($target-px, $context-px: $base-px) {
  @return ($target-px / $context-px) * 1em;
}

// Mixins: Utilities
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
