// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';

// App
@import 'scss';

* {
  outline: none;
}

body {
  @include font;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0 0 15px;
}

h1 {
  font-size: em(21px);
}

ul {
  list-style: none;
  padding: 0;
}

// Views
@import 'views/home';

// Components
@import 'components/block';
@import 'components/item';
