// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';

// App
@import 'scss';

* {
  outline: none;
}

body {
  @include font;
  background: #000 image-url('bg.jpg') top center;
  background-size: cover;
  color: #a8814a;
  margin-right: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  padding: 6px 12px;
  width: 100%;
}

// Typography
@font-face {
  font-family: 'Beaufort';
  font-weight: 400;
  src: asset-url('Beaufort-Regular.woff2') format('woff2'),
       asset-url('Beaufort-Regular.woff')  format('woff'),
       asset-url('Beaufort-Regular.ttf')   format('truetype');
}

@font-face {
  font-family: 'Beaufort';
  font-style: italic;
  font-weight: 400;
  src: asset-url('Beaufort-Italic.woff2') format('woff2'),
       asset-url('Beaufort-Italic.woff')  format('woff'),
       asset-url('Beaufort-Italic.ttf')   format('truetype');
}

@font-face {
  font-family: 'Beaufort';
  font-weight: 700;
  src: asset-url('Beaufort-Bold.woff2') format('woff2'),
       asset-url('Beaufort-Bold.woff')  format('woff'),
       asset-url('Beaufort-Bold.ttf')   format('truetype');
}

@font-face {
  font-family: 'Spiegel';
  font-weight: 400;
  src: asset-url('Spiegel-Regular.woff2') format('woff2'),
       asset-url('Spiegel-Regular.woff')  format('woff'),
       asset-url('Spiegel-Regular.ttf')   format('truetype');
}

@font-face {
  font-family: 'Spiegel';
  font-style: italic;
  font-weight: 400;
  src: asset-url('Spiegel-Italic.woff2') format('woff2'),
       asset-url('Spiegel-Italic.woff')  format('woff'),
       asset-url('Spiegel-Italic.ttf')   format('truetype');
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0 0 15px;
}

h1 {
  font-size: em(21px);
}

// Views
@import 'views/home';

// Components
@import 'components/build';
@import 'components/block';
@import 'components/item';
@import 'components/item-store';

.popover {
  .description div {
    display: inline-block;
  }

  .recipe {
    border: 1px solid #000;
    font-size: 0;
    margin: 2px;
    padding: 2px;
    position: relative;
    text-align: center;

    .recipe {
      display: inline-block;
      vertical-align: top;
    }

    .image {
      border-radius: 0;
      width: 20px;
    }
  }
}
