// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';

// App
@import 'scss';

* {
  outline: none;
}

body {
  @include font;
}

ul {
  list-style: none;
  padding: 0;
}

// Views
@import 'views/home';
